<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>{% block title %}{% endblock %} &middot; TEP</title>
  <link rel="stylesheet" href="/css/foundation.min.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
  <script src="/js/modernizr.foundation.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="row">
    <div class="three columns">
      <h1><img src="/img/logo.gif"/></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        {% block navbar %}
        <li><a href="/">About</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {% endblock %}
      </ul>
    </div>
    <hr/>
  </div>
  {% block content %}{% endblock %}
  <footer class="row">
    <div class="twelve columns">
      <hr/>
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <!-- nothing -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
