{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
<li class="active"><a href="/">About</a></li>
<li><a href="/dashboard">{% if user %}Dashboard{% else %}Sign in via Google{% endif %}</a></li>
{% endblock %}

{% block content %}
<h1>About<br/><small>Enable people to explore opportunities for pursuing their interests</small></h1>
<!-- TODO -->
{% endblock %}
